@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400,500&display=swap');
.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Montserrat', sans-serif;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
label {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-bottom: 8px;
  font-weight: 400;
  color: #2e2f42;
}
input, textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 0 8px 16px;
}
textarea{
    height: 80px;
}
input:hover {
  border: 1px solid #000;
}

button {
    margin-top: 8px;
  font-weight: 500;

  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border: none;
}
button:hover {
  background: #6c8cff;
}
